

.recipe-card {
    width: 350px;
    background: rgba(30, 30, 30, 0.9); /* Темный фон с легкой прозрачностью */
    backdrop-filter: blur(3px);      /* Эффект матового стекла для фона */
    border-radius: 40px;               /* Сильное скругление как на картинке */
    padding: 20px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    text-align: center;

    margin-bottom: 30px;
}

/* Заголовок сверху */
.recipe-card__title {
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;

    margin: 0 20px 20px 20px;
}

/* Контейнер для фото с рамкой */
.recipe-card__image-container {
    width: 100%;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}

.recipe-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняет пропорции без искажения */
}

/* Текстовые блоки */
.recipe-card__content {
    text-align: left;
    line-height: 1.5;
}

.recipe-card__ingredients {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;
}

.recipe-card__description {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Ссылка внизу */
.recipe-card__more {
    display: block;
    text-align: center;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.recipe-card__more:hover {
    color: #fff;
}