.mcb__logo-box {
    flex: 1.5;
    font-family: 'Comfortaa';
    color: #f0cc57;
}

.mcb__logo-box__top-text, 
.mcb__logo-bottom-text {
    margin: 10px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: #ffe89ca1;
    font-style: italic;
}

.mcb__logo-box__name {
    font-family: 'Comfortaa', sans-serif;
    font-size: 48px;
    letter-spacing: -1px;
    margin: 0;
    text-shadow: 0 0 15px rgba(240, 204, 87, 0.4)
}

.mcb__logo-box__name::before,
.mcb__logo-box__name::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background: linear-gradient(to right, transparent, #f0cc57, transparent);
    margin: 15px 0;
}