.mcb__profile-box {
    flex: 1;
    display: flex;
    justify-content: center; /* Прижимаем к правому краю */
    padding-right: 20px;
}

.mcb__profile-box {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.mcb__profile-box:hover {
    transform: translateX(-5px); /* Легкое движение навстречу пользователю */
}

/* Круглая рамка для аватара */
.mcb__profile-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #f0cc57;
    box-shadow: 0 0 10px rgba(240, 204, 87, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.mcb__profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ссылка "Войти" */
.mcb__profile-link {
    font-family: 'Caveat', cursive; /* Рукописный стиль как в логотипе */
    font-size: 20px;
    color: #ffe89ca1;
    border-bottom: 1px dashed rgba(255, 232, 156, 0.4);
    transition: all 0.3s ease;
}

.mcb__profile-box:hover .mcb__profile-link {
    color: #f0cc57;
    border-bottom-color: #f0cc57;
    text-shadow: 0 0 8px rgba(240, 204, 87, 0.5);
}