.mcb__search-box__wraper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mcb__search-box {
    min-width: 200px; /* Чтобы не сжималась слишком сильно */
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    background-color: rgb(235, 235, 235); /* Единый фон для всего поля */
    border-radius: 30px; /* Более плавное скругление */
    border: 2px solid #ffbc70;
    padding: 2px 15px; /* Отступы внутри контейнера */
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mcb__search__input {
    border: none;
    background: transparent; /* Чтобы не перекрывал фон родителя */
    padding: 8px 5px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: #4e351e;
}

.mcb__search__input::placeholder {
    color: #c4a484; /* Красивый оттенок для подсказки */
    opacity: 0.8;
}

.mcb__search__input:focus {
    outline: none;
}

.mcb__search__btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;

    font-size: 18px; /* Размер лупы */
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    user-select: none;
}

/* Эффекты при взаимодействии */
.mcb__search-box:focus-within {
    border-color: #ff8800;
    box-shadow: 0 0 15px rgba(255, 136, 0, 0.4);
    transform: translateY(-1px); /* Легкий подъем при активации */
}

.mcb__search__btn:hover {
    transform: scale(1.2); /* Лупа немного увеличивается */
    filter: drop-shadow(0 0 5px rgba(255, 136, 0, 0.5));
}