@import url('fonts.css');

html, body {
    padding: 0;
    margin: 0;
}

.mcb {
    width: 100%;
    height: 100vh;
    background: url('../images/fon5.jpg') no-repeat center/cover;

    position: relative;
}

.mcb__wraper {
    width: 70%;
    height: inherit;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

.mcb__wraper::-webkit-scrollbar {
    display: none;
}