@import url('fonts.css');

html, body {
    padding: 0;
    margin: 0;
}

.borderOn {
    border: 1px solid black;
    box-sizing: border-box;
}
.wraper {
    width: 100%;
    height: 100vh;

    background: url('../images/fon5.jpg') no-repeat center/cover;
}

.mcb {
    width: 70%;
    height: inherit;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mcb__header {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 0 20px;
}

.mcb__search-box__wraper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mcb__search-box {
    width: 60%;
    display: flex;
    justify-content: center;

    border-radius: 25px;
    border: 2px solid #ffbc70;
    transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.mcb__search__input {
    width: 80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    box-sizing: border-box;
    padding: 5px 15px 5px 5px;
    font-size: 12px;
}

.mcb__search-box:focus-within {
    outline: none;
    border: 2px solid #ff8800;
    box-shadow: 0 0 8px rgba(212, 103, 13, 0.349);
}

.mcb__search__input:focus {
    outline: none;
}

.mcb__search__btn {
    width: 20%;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.mcb__logo-box {
    flex: 1.5;
    font-family: 'Comfortaa';
    color: #f0cc57;
}

.mcb__logo-box__top-text {
    margin: 10px;
    font-size: 13px;
    font-style: italic;
}
.mcb__logo-box__name {
    font-size: 48px;
    margin: 0;
    border-top: 1px solid #c05024;
    border-bottom: 1px solid #c05024;
}
.mcb__logo-bottom-text {
    margin: 10px;
    font-size: 13px;
    font-style: italic;
}

.mcb__contacts-box {
    flex: 1;
    padding-left: 20px;
    text-align: left;
}

.icon {
    width: 12%;
    cursor: pointer;
}
.icon:hover {
    width: 15%;
}

.mcb__menu-box {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 25px;
    background-color: rgba(78, 53, 30, 0.692);
    box-shadow: 0 0px 15px 3px rgb(255, 198, 74);
}

.mcb__menu-tag-box {
    list-style-type: none;

    display: flex;
    justify-content: space-around;
}

.mcb__menu-tag {
    font-size: 20px;
    border-bottom: 1px solid #ffe89ca1;
    color: #ffe89ca1;
    box-sizing: border-box;
    cursor: pointer;
}

.mcb__menu-tag:hover {
    border-bottom: 1px solid #f0cc57;
    color: #ffe078;
}
